@{
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Go Go Go! Knight's Story</title>
        <link rel="stylesheet" type="text/css" href="@Href("~/Styles/main.css")" />
    </head>
    <body>
        <div class = "gameMain">
            <header>
                <img src = "@Href("~/Images/logo.png")" style = "width:  100%" alt="Go Go Go! Knight's Story"/>
                <ul>
                    <li><a href = "@Href("~/index.cshtml")">首頁</a></li>
                    @{
                        if(Session["Id"] == null){
                            <li><a href = "@Href("~/Core/Member/Register.cshtml")">註冊</a></li>
                            <li><a href = "@Href("~/Core/Member/Login.cshtml")">登入</a></li>
                        }
                        else{
                            <li><a href="@Href("~/Core/Character/DisplayCharacter.cshtml")">角色狀態</a></li>
                            <li><a href="@Href("~/Core/Item/UseItem.cshtml")">道具</a></li>
                            <li><a href="@Href("~/Core/Battle/RegisterBattle.cshtml")">探險</a></li>
                            <li><a href="@Href("~/Core/Shop/ViewShop.cshtml")">商店街</a></li>
                            <li><a href = "@Href("~/Core/Guestbook/ViewAllPost.cshtml")">討論區</a></li>
                            <li><a href = "@Href("~/Core/Member/Logout.cshtml")">登出</a></li>
                        }
                    }
                </ul>
            </header>
            <section>
            @RenderBody()
            </section>

            <footer>
                師大資工系103級 曹又霖、鄒毓偉、沈志中 製作
            </footer>
        </div>
    </body>
</html>
