@{
    Layout = "~/Shared/_layout.cshtml";
}

@{
    if(Session["Id"] == null){
       Response.Redirect("../Member/Login.cshtml");
    }
    else{
        var db = Database.Open("Go-Go-Go--Knight-s-Story");
        var battleQuery = db.Query(@"SELECT * FROM Battle");
        var monsterBattleQuery = db.Query(@"SELECT * FROM Monster_Battle");
        var characterQuery = db.Query(@"SELECT * FROM Character WHERE Character_Id=@0", Request["character_id"]);
  
        <table>
            <tr><th>玩家角色狀態</th></tr>
            <tr>
                <th>名稱</th>
                <th>等級</th>
                <th>經驗值</th>
                <th>血量</th>
                <th>魔力</th>
            </tr>
            <tr>
                <td>@characterQuery.ToArray()[0].Character_Name</td>
                <td>@characterQuery.ToArray()[0].Character_Level</td>
                <td>@characterQuery.ToArray()[0].Exp</td>
                <td>@characterQuery.ToArray()[0].Current_HP</td>
                <td>@characterQuery.ToArray()[0].Current_MP</td>
            </tr>
        </table>
    }
}